---
name: delete_card_form
resource: modules/stripe_payments/credit_card
resource_owner: anyone
redirect_to: "{{ context.params.redirect_to }}"
fields:
  properties:
    stripe_customer_id:
    stripe_id:
callback_actions: >
  {% parse_json cc_data %}
    {
      "customer_id": "{{ form.properties.stripe_customer_id }}",
      "stripe_id": "{{ form.properties.stripe_id }}"
    }
  {% endparse_json %}
  {%- execute_query 'modules/stripe_payments/delete_card_in_stripe', result_name: 'g', data: cc_data -%}
default_payload: >
---
{% include 'modules/stripe_payments/shared/api_credentials' %}
<div style="display: none">
{% form method: 'delete' %}
  <input type="hidden" name="redirect_to" value="{{ context.params.redirect_to | default: 'https://portal.apps.near-me.com/partners' }}" />
  <input type="submit" value="Delete" />
{% endform %}
</div>
<script>
document.getElementsByTagName('form')[0].submit();
</script>
